# Download Chicago's Reported Crime Data

## Download and install Spark

In [1]:
!ls

sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [0]:
#!apt-get update
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
#!tar xf spark-2.3.1-bin-hadoop2.7.tgz
#!pip install -q findspark

## Setup environment

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

## Downloading and preprocessing Chicago's Reported Crime Data

In [3]:
!wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD

--2019-03-30 06:52:51--  https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.199, 52.206.140.205, 52.206.68.26
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=DOWNLOAD’

rows.csv?accessType     [            <=>     ]   1.50G  2.70MB/s    in 9m 44s

Last-modified header invalid -- time-stamp ignored.
2019-03-30 07:02:36 (2.63 MB/s) - ‘rows.csv?accessType=DOWNLOAD’ saved [1611021777]

In [4]:
!ls

'rows.csv?accessType=DOWNLOAD'	 spark-2.3.1-bin-hadoop2.7
 sample_data			 spark-2.3.1-bin-hadoop2.7.tgz

In [0]:
!mv rows.csv\?accessType\=DOWNLOAD reported-crimes.csv

In [6]:
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
rc.show(5)

+-------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|     ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+-------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|4947009|   HM559958|2006-08-24 17:17:00|058XX S NARRAGANS...|141C| WEAPONS VIOLATION|UNLAWFUL USE OTHE...|              STREET|  true|   false|0811|     008|  23|            56|      15|     1134726|     1865096|2006|02/28/2018 03:56:...|41.786011465|-87.781577311|(41.786011465, -8...|
|4947010|   HM557577|2006-08-23 14:00:00|      082XX S ADA ST|0430|           BATTERY|AGGRAVATED: OTHER...|            SIDEWALK| false|   false|0613|     006|  21|            71|     04B|     1168765|     1850045|2006|02/28/2018 03:56:...|41.744042365| -87.65720661|(41.744042365, -8...|
|4947011|   HM560673|2006-08-24 22:39:00|006XX N MICHIGAN AVE|1130|DECEPTIVE PRACTICE|FRAUD OR CONFIDEN...|            SIDEWALK|  true|   false|1834|     018|  42|             8|      11|     1177327|     1904307|2006|02/28/2018 03:56:...|41.892753031|-87.624193896|(41.892753031, -8...|
|4947012|   HM560322|2006-08-24 20:02:18|     012XX E 93RD ST|0460|           BATTERY|              SIMPLE|           APARTMENT|  true|   false|0413|     004|   8|            47|     08B|     1185978|     1843559|2006|02/28/2018 03:56:...|41.725855644|-87.594341126|(41.725855644, -8...|
|4947013|   HM557711|2006-08-23 07:00:00|  028XX N WOODARD ST|0610|          BURGLARY|      FORCIBLE ENTRY|               OTHER| false|   false|1412|     014|  35|            21|      05|     1153344|     1918826|2006|02/28/2018 03:56:...|41.933104592|-87.711887722|(41.933104592, -8...|
+-------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows